<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<meta property="Frontier Theme" content="1.3.3" />
<style type="text/css" media="screen">
	#container 	{width: 960px;}
	#header 	{min-height: 140px;}
	#content 	{width: 65%;}
	#sidebar-left 	{width: 35%;}
	#sidebar-right 	{width: 35%;}
</style>

<style type="text/css" media="screen">
	.page-template-page-cs-php #content, .page-template-page-sc-php #content {width: 65%;}
	.page-template-page-cs-php #sidebar-left, .page-template-page-sc-php #sidebar-left,
	.page-template-page-cs-php #sidebar-right, .page-template-page-sc-php #sidebar-right {width: 35%;}
	.page-template-page-scs-php #content {width: 50%;}
	.page-template-page-scs-php #sidebar-left {width: 25%;}
	.page-template-page-scs-php #sidebar-right {width: 25%;}
</style>

<style type="text/css" media="screen">
	#header {background-color:#ff69b4;}
	#nav-main {background-color:#ff69b4;}
	#nav-main .nav-main {border-left: 1px solid #ff69b4; border-right: 1px solid #ff69b4;}
	#nav-main .nav-main > li, #nav-main .nav-main > ul > .page_item {border-left: 1px solid #ff69b4; border-right: 1px solid #ff69b4;}
	#top-bar {background-color:#ff69b4;}
	#bottom-bar {background-color:#ff69b4;}
	#main {background-color:#ff69b4;}
	.blog-view, .single-view, .author-info, .archive-info, .form-404 {background-color:#ff69b4;}
	.blog-view.sticky {background-color:#ff69b4;}
	.frontier-widget {background-color:#ff69b4;}
	.blog-view, .comment-author-admin > .comment-body, .bypostauthor > .comment-body {border-top: 6px solid #ff69b4;}
	.page-nav > *, .comment-nav > *, .author-info .title, .comment-reply-link, .widget-title,
	.widget_search .search-submit, .widget_calendar caption {background-color:#ff69b4;}
	.genericon {color:#ff69b4;}
	a {color:#ff69b4;}
	a:hover {color:#ff69b4;}
</style>

<style type="text/css" id="wp-custom-css">
			#top-bar {
    background-color: #ff69b4;
    display: none;
}
		</style>
		        <meta http-equiv="refresh" content="10">
        <style type="text/css">
            html, body {
                background-color: #ff69b4 !important;
            }
            .outerbox .number_open {
                background: url(https://www.studiointermedia.com/images/2026/06/22/ChatGPT-Image-22-Jun-2026-12.42.27.png);
                width: 305px;
                border-radius: 8px;
                font: normal 15px Arial, Arial, Helvetica, sans-serif;
                color: #ff69b4;
                background-color: #ff69b4;
                -moz-box-shadow: 0 0 2px 2px #ff69b4;
                -webkit-box-shadow: 0 0 2px 2px #ff69b4;
                box-shadow: 0 0 2px 2px #ff69b4;

            }
            .outerbox .number_open .title {
                text-align: center;
                padding: 0 0;
                padding-top: 5px;
                width: 300px;
                height: 33px;
                margin: 0 auto;
            }
            .outerbox .number_open .title h1 {
                position: relative;
                right: -55px;
                padding: 0;
                margin: 0;
                font-size: 18px;
                color: #ff69b4;
                text-shadow: 0px 0px 0px #ff69b4;
                bottom: 7px;
            }
            .outerbox .number_open .title h2 {
                position: relative;
                right: -60px;
                padding: 0;
                margin: 0;
                font-size: 18px;
                color: #ff69b4;
                text-shadow: 0px 0px 0px #ff69b4;
                bottom: 11px;
            }
            .outerbox .number_open .prize_numqq {
                text-align: center;
                width: 250px;
                font-size: 24px;
                font-weight: 700;
                font-family: gorgia;
                letter-spacing: 4px;
                margin-top: 19px;
                text-shadow: 2px 1px 3px #ff69b4;
            }
            .outerbox .number_open .prize_numqq p {
                text-align: center;
                width: 250px;
                font-size: 38px;
                height: 1px;
                letter-spacing: 12px;
                margin-top: 2px;
                text-shadow: 1px 2px 3px #ff69b4;
            }
            .outerbox .number_open .prize_num {
                text-align: center;
                padding: 6px 6px;
                width: 250px;
                height: 24px;
                letter-spacing: 2px;
                margin: 2px auto;
                text-shadow: 0px 2px 3px #ff69b4;
            }
            .outerbox .number_open .prize_num9 h1 {
                padding: 14px 10px 1px 9px;
                margin-left: -125px;
                margin-bottom: 7px;
                font-size: 18px;
                font-family: gorgia;
                color: #ff69b4;
                float: center;
                text-shadow: 3px 1px 2px #ff69b4;

            }
            .outerbox .number_open .prize_num9 h2 {
                margin: 1px 4px;
                font-size: 20px;
                margin-left: 50px;
                letter-spacing: 6px;
                color: #ff69b4;
                float: left;
                text-shadow: 0px 2px 3px #ff69b4;

            }
            .outerbox .number_open .prize_num5 h1 {
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                font-family: gorgia;
                letter-spacing: 1px;
                margin-top: -37px;
                margin-right: 40px;
                float: right;
                text-shadow: 3px 1px 2px #ff69b4;
            }
            .outerbox .number_open .prize_num5 h2 {
                margin: 1px;
                font-size: 20px;
                margin-right: 50px;
                letter-spacing: 5px;
                color: #ff69b4;
                float: right;
                text-shadow: 0px 2px 3px #ff69b4;
            }
            .outerbox .number_open .prize_numtop {
                text-align: center;
                text-shadow: 1px 3px 4px #ff69b4;
            }
            .outerbox .number_open .prize_num2 {
                text-align: center;
            }
            .outerbox .number_open .prize_num10 {
                text-align: center;
                color: #ff69b4;
                font: 700 15px Helvetica;
            }
            .outerbox .number_open .prize_num2 h1 {
                font-size: 18px;
                color: #ff69b4;
                font-family: gorgia;
                letter-spacing: 2px;
                padding: 21px 2px 0 0;
                margin: 0 2px 1px 0;
                margin-right: 2px;
                margin-left: 0px;
                text-shadow: 3px 1px 2px #ff69b4;
                margin-left: 77px;
                margin-right: 78px;
            }
            .outerbox .number_open .prize_num2 ul {
                margin: 3px;
                padding: 0 0 0 0;
                width: 310px;
            }
            .outerbox .number_open .prize_num2 ul li {
                text-align: center;
                list-style: none;
                font-size: 15px;
                font-weight: 700;
                width: 45px;
                color: #ff69b4;
                padding: 4px 6px 3px 1px;
                margin: 2px 10px 2px 2px;
                margin-left: 2px;
                margin-left: 2px;
                margin-left: -2px;
                letter-spacing: 1px;
                float: left;
                text-shadow: 3px 1px 3px #ff69b4;
            }
            .outerbox .number_open .prize_num3 {
                text-align: center;
                padding: 8px;
                text-shadow: 1px 3px 4px #ff69b4;
            }
            .outerbox .number_open .prize_num3 h1 {
                font-size: 18px;
                color: #ff69b4;
                font-family: gorgia;
                letter-spacing: 2px;
                padding: 45px 2px 0 0;
                margin: 0 2px 1px 0;
                text-shadow: 3px 1px 2px #ff69b4;
            }
            .outerbox .number_open .prize_num3 ul {
                margin: 3px;
                padding: 0 0 0 0;
                width: 310px;

            }
            .outerbox .number_open .prize_num3 ul li {
                text-align: center;
                list-style: none;
                font-size: 15px;
                font-weight: 700;
                width: 45px;
                color: #ff69b4;
                padding: 4px 6px 3px 1px;
                margin: 2px 10px 2px 2px;
                margin-left: 2px;
                margin-left: 2px;
                margin-left: -2px;
                letter-spacing: 1px;
                float: left;
                text-shadow: 3px 1px 3px #ff69b4;
            }
            .tbl-result {
                margin-top: -5px;
            }
            .tbl-starter {
                margin-top:0px;
            }
            .tbl-consolation {
                margin-top:0px;
            }
            /** Media Query Style **/
            @media (min-width: 993px) {
                .tbl-result {
                    margin-top: 0px;
                }
                .tbl-starter {
                    margin-top: 5px;
                }
                .tbl-consolation {
                    margin-top: 2px;
                }
            }
        </style>
